* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.cabecalho {
    padding: 24px 100px;
    display: flex;
    gap: 80px;
}

.cabecalhoMenu {
    display: flex;
    gap: 80px;
}

.cabecalho a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
}

.cabecalho a:hover {
    background-image: url(Imagens/static-tv-static.gif);


    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}


h1 {
    color: white;
    font-size: 2.188rem;
}




.texto p {
    color: white;
    font-size: 1.563rem;
    padding: 0px;
    margin-right: 10px;
}

span {
    color: aqua;
}

.paiInformacoes {
    margin-top: 10%;
    margin-right: 9%;
    margin-left: 5%;
    cursor: default;
}

.informacoesGerais1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    /*Perguntar isso depois, pq o chat falou que era p dar gap aqui pra distanciar a imagem */

    /*margin-top: 250px;
      margin-right: 90px;
      margin-left: 100px;  */

}

.botao {
    gap: 16px;
    display: flex;
    padding: 10% 15%;
}

.botao a {
    border-radius: 10px;
    background-color: white;
    padding: 30px 80px;
    font-weight: 600;
    text-decoration: none;
    color: rgb(3, 95, 138);
    transition: 2s, background-color 0.5s;
    cursor: default;

    display: flex;
    align-items: center;
    width: 80%;
}

.botao a:hover {
    opacity: 0.1;
    background-image: url(Imagens/static-tv-static.gif);
}

img {
    transition: 2s;
}

.LAIN {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.sectionLain {
    width: 100%;
    height: 100%;
}

.LAIN img:hover {
    opacity: 0.3;
    content: url(Imagens/lainGif.gif);
}







@media (max-width: 1269px) {

    .cabecalho {
        padding: 4% 
    }

    .paiInformacoes {
        display: flex;
        align-items: center;
    }

    .informacoesGerais1 {
        flex-direction: column-reverse;
    }

    .botao {
        padding: 0;
    }

    .LAIN{
        width: 80%;
    }

    .botao{
        width: 100%;
        padding: 3rem;

    }


}






/* 
.LAIN img{
    width: 300px;
    height: 300px;
}

.LAIN {
    display: flex;
    justify-content: flex-end;    
        
}

.LAIN img:hover{
    opacity: 0.3;
    content: url(Imagens/lainGif.gif);
    /* z-index: 1; */



/* 

*{
    background-color: black;
    font-family: "Poppins", sans-serif;
        box-sizing: border-box;
}

.cabecalho{
    display: flex;
     gap: 0px;
}

.cabecalho a{
    color:white;
    margin-left: 10%;
    text-decoration: none;
    font-size: 2rem;
}

.cabecalho a:hover{
    background-image: url(Imagens/static-tv-static.gif);
    

    color: transparent;  
    -webkit-background-clip: text; 
    background-clip: text;
}


h1{
    color: white;
    font-size: 2.188rem;
    margin-right: px;
    
}

p{
    color: white;
    font-size: 1.563rem;
    margin-right: 10px;
    padding: 0px;
}

span{
    color: aqua;
}

.informacoesGerais1{
    margin-top: 250px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-left: 100px;
    margin-right: 90px;
    cursor: default;
    width: 40%;
}

.botao{
    gap: 16px;
    display: flex;
}

.botao a{
    border-radius: 10px;
    background-color: white;
    padding: 30px 50px;
    font-weight: 600;
    text-decoration: none;
    color: rgb(3, 95, 138);
        transition: 2s, background-color 0.5s;
        cursor: default;

    display: flex;
    align-items: center;
   margin-left: 120px;
   width: 80%;
}

.botao:hover a{
    opacity: 0.1;
    background-image: url(Imagens/static-tv-static.gif);
}

img{
    width: 300px;
    height: 300px;
     transition: 2s;
}

.LAIN {
    display: flex;
    justify-content: flex-end; 
    margin-left: 200px;
}

.LAIN:hover img{
    opacity: 0.3;
    content: url(Imagens/lainGif.gif);
    z-index: 1;
} */


*/
